@font-face {
    font-family: Vazirmatn;
    src: url('~/vazirmatn/fonts/webfonts/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('~/vazirmatn/fonts/webfonts/Vazirmatn-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('~/vazirmatn/fonts/webfonts/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('~/vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('~/vazirmatn/fonts/webfonts/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('~/vazirmatn/fonts/webfonts/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('~/vazirmatn/fonts/webfonts/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('~/vazirmatn/fonts/webfonts/Vazirmatn-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('~/vazirmatn/fonts/webfonts/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: Vazirmatn, sans-serif;
}
.header-home{
    //background-image: url("images/banner3.jpg");
    //background-position: center;
    //background-color: #cccccc;
    //background-size: cover;
    //background-repeat: no-repeat;
    //min-height: 500px;
}
h1,h2,h3,h4,h5,h6{
    color: #93BF1C;
    font-weight: bolder;
}
.subheader{
    font-size: 1.2rem;
}
.border-radius{
    border-radius: 50px;
    aspect-ratio: 1 / 1;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.awareness-pattern{
    position: absolute;
    //inset-block-end: -70px;
    //inset-inline-start: 30px;
    padding-bottom: -100px;
    z-index: -100;
}
.footer-1{
    background-color: #012121;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-2{
    background-color: #011616;
    padding-top: 50px;
    padding-bottom: 100px;
}
p{
    font-size: 1.1rem;
    line-height: 2.4rem;
}
.active{
    color: #93BF1C!important;
    font-weight: 900!important;
}
