body {
    font-family: Vazirmatn, sans-serif;
}
.header-home{
    background-image: url("../../public/images/2023.jpg");
    background-position: center;
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}
h1,h2,h3,h4,h5,h6{
    color: #93BF1C;
    font-weight: bolder;
}
.subheader{
    font-size: 1.2rem;
}
.border-radius{
    border-radius: 50px;
    aspect-ratio: 1 / 1;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.awareness-pattern{
    position: absolute;
    //inset-block-end: -70px;
    //inset-inline-start: 30px;
    padding-bottom: -100px;
    z-index: -100;
}
.footer-1{
    background-color: #012121;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-2{
    background-color: #011616;
    padding-top: 50px;
    padding-bottom: 100px;
}
